<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik Blazor 6.2.0" value="C:\Program Files (x86)\Progress\Telerik UI for Blazor 6.2.0\" />
    <add key="Telerik Nuget" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3"/>
  </packageSources>
  <packageSourceCredentials>
    <MyTelerikFeed>
      <add key="Username" value="api-key" />
      <add key="ClearTextPassword" value="%PPITesting%" />
    </MyTelerikFeed>
  </packageSourceCredentials>
</configuration>